body {
  font-family: Lato, sans-serif;
  text-align:  center;
}

body .container {
  max-width: 530px;
  margin:    0 auto;
}

body img {
  max-width:  160px;
  max-height: 160px;
  margin-top: 100px;
  margin-bottom: 30px;
}

body h1 {
  font-weight:    500;
  font-size:      40px;
  color:          #FFFFFF;
  letter-spacing: 2px;
  line-height:    45px;
  text-shadow:    0px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-bottom:30px;
}

body p {
  font-weight:    300;
  font-size:      18px;
  color:          #FFFFFF;
  letter-spacing: 0.69px;
  margin-bottom: 50px;
}

body a {
  padding:        15px 40px;
  border:         1px solid #FFFFFF;
  box-shadow:     0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  font-weight:    400;
  font-size:      16px;
  color:          #FFFFFF;
  letter-spacing: 0.61px;
text-transform: uppercase;
  text-decoration:none;
}

body a:hover {
  background-color:white;
  color:#322F3F;
}

@media (max-width: 600px) {
  body img {
    margin-top:20px;
    margin-bottom: 10px;
  }
  body h1 {
    font-size: 24px!important;
    line-height: 35px!important;
  }
  body p, a {
    font-size: 16px!important;
  }
}

@media (max-width: 700px) {
  body img {
    margin-top:40px!important;
    margin-bottom: 20px;
  }
  body p {
    margin-left: 10px;
    margin-right:10px;
  }
}
